@keyframes shimmer {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: 200px 0;
  }
}

.skeleton-title,
.skeleton-text,
.skeleton-child {
  animation: shimmer 1.5s infinite linear;
  background: linear-gradient(90deg, #e0e0e0 25%, #f0f0f0 50%, #e0e0e0 75%);
  background-size: 200% 100%;
  border-radius: 4px; /* Köşeleri yuvarlamak için */
}

@keyframes highlight {
  0% {
    background-color: #ffe9c5;
  }
  100% {
    background-color: #fff5e4;
  }
}

.highlight-animation {
  animation: highlight 1s ease-in-out;
}

/*  */

/* Revised CSS */
.slideable {
  overflow: hidden;
}